<div class="container">
  <div class="page">
    <div class="block">
      <form class="formset">
        <div class="fieldset">
          <div class="inputset">
            <label for="user" class="label">Tarefa</label>
            <input
              type="text"
              name="user"
              id="user"
              class="full"
              placeholder="Nome da Tarefa *"
              required
            />
          </div>
          <div class="inputset">
            <label for="cpf" class="label">CPF</label>
            <input
              type="number"
              name="cpf"
              id="cpf"
              class="full"
              placeholder="CPF *"
              required
            />
          </div>
          <div class="inputset">
            <label for="password" class="label">Responsável</label>
            <input
              type="text"
              name="responsavel"
              id="responsavel"
              class="full"
              placeholder="Responsável *"
              required
            />
          </div>
          <div class="inputset">
            <label for="password" class="label">Prazo de Entrega</label>
            <input
              type="date"
              name="responsavel"
              id="responsavel"
              class="full"
              placeholder="Responsável *"
              required
            />
          </div>
        </div>
        <div class="actionset">
          <a class="full" type="submit" routerLink="/tarefas">Cancelar</a>
          <button class="full" type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
